# Import Libraries Required

In [25]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Exploration

## Load the Dataset

In [26]:
mobile_data = pd.read_csv('Processed_Flipdata - Processed_Flipdata.csv')

## Head and Tail of Dataset

In [27]:
mobile_data.head()

,Unnamed: 0,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
0,0,Infinix SMART 7,Night Black,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,"7,299"
1,1,Infinix SMART 7,Azure Blue,64,4,6000,13MP,5MP,1,16.76,Unisoc Spreadtrum SC9863A1,"7,299"
2,2,MOTOROLA G32,Mineral Gray,128,8,5000,50MP,16MP,0,16.64,Qualcomm Snapdragon 680,"11,999"
3,3,POCO C50,Royal Blue,32,2,5000,8MP,5MP,0,16.56,Mediatek Helio A22,"5,649"
4,4,Infinix HOT 30i,Marigold,128,8,5000,50MP,5MP,1,16.76,G37,"8,999"

In [28]:
mobile_data.tail()

,Unnamed: 0,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
536,637,SAMSUNG Galaxy S23 5G,Cream,256,8,3900,50MP,12MP,0,15.49,Qualcomm Snapdragon 8 Gen 2,"79,999"
537,638,LAVA Z21,Cyan,32,2,3100,5MP,2MP,0,12.70,Octa Core,"5,998"
538,639,Tecno Spark 8T,Turquoise Cyan,64,4,5000,50MP,8MP,0,16.76,MediaTek Helio G35,"9,990"
539,641,SAMSUNG Galaxy A54 5G,Awesome Lime,128,8,5000,50MP,32MP,0,16.26,"Exynos 1380, Octa Core","38,999"
540,642,OPPO A77,Sky Blue,128,4,5000,50MP,8MP,0,16.66,Mediatek Helio G35,"15,999"

## Shape of Dataset

In [29]:
mobile_data.shape

(541, 12)

## Dimention of Dataset

In [30]:
mobile_data.ndim

2

## Information of Dataset

In [31]:
mobile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     541 non-null    int64
 1   Model          541 non-null    object
 2   Colour         541 non-null    object
 3   Memory         541 non-null    int64
 4   RAM            541 non-null    int64
 5   Battery_       541 non-null    int64
 6   Rear Camera    541 non-null    object
 7   Front Camera   541 non-null    object
 8   AI Lens        541 non-null    int64
 9   Mobile Height  541 non-null    float64
 10  Processor_     541 non-null    object
 11  Prize          541 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 50.8+ KB

## Summary of Numerical columns in Dataset

In [32]:
mobile_data.describe()

,Unnamed: 0,Memory,RAM,Battery_,AI Lens,Mobile Height
count,541.000000,541.000000,541.000000,541.000000,541.000000,541.000000
mean,289.711645,110.550832,5.397412,4871.587800,0.062847,16.431201
std,182.359185,60.600694,1.984923,780.148862,0.242911,2.523553
min,0.000000,16.000000,2.000000,800.000000,0.000000,4.500000
25%,135.000000,64.000000,4.000000,5000.000000,0.000000,16.510000
50%,273.000000,128.000000,6.000000,5000.000000,0.000000,16.710000
75%,434.000000,128.000000,8.000000,5000.000000,0.000000,16.940000
max,642.000000,256.000000,8.000000,7000.000000,1.000000,41.940000

## Columns in Dataset

In [33]:
mobile_data.columns

Index(['Unnamed: 0', 'Model', 'Colour', 'Memory', 'RAM', 'Battery_',
       'Rear Camera', 'Front Camera', 'AI Lens', 'Mobile Height', 'Processor_',
       'Prize'],
      dtype='object')

## Drop unnecessary columns

In [34]:
mobile_data.drop('Unnamed: 0',axis = 1, inplace=True)

In [35]:
# Samples of data
mobile_data.sample(4)

,Model,Colour,Memory,RAM,Battery_,Rear Camera,Front Camera,AI Lens,Mobile Height,Processor_,Prize
266,realme Narzo 30,Racing Silver,64,4,5000,48MP,16MP,0,16.51,MediaTek Helio G95,"13,499"
145,REDMI Note 12 5G,Frosted Green,128,6,5000,48MP,13MP,0,16.94,Qualcomm Snapdragon 4 Gen 1,"18,999"
31,POCO C55,Power Black,64,4,5000,50MP,5MP,0,17.04,Mediatek Helio G85,"7,749"
141,realme GT 2,Paper White,128,8,5000,50MP,16MP,0,16.81,Qualcomm Snapdragon 888,"23,999"

## Rename the column Names

In [58]:
mobile_data.rename(columns={'Battery_':'mAH of Battery','Rear Camera':'Rear Camera(In MP)','Front Camera':'Front Camera(In MP)','Processor_':'Processor in Phone','Prize':'Price of Phone'},inplace=True)

In [62]:
#New columns in datset
mobile_data.columns

Index(['Model', 'Colour', 'Memory', 'RAM', 'mAH of Battery',
       'Rear Camera(In MP)', 'Front Camera(In MP)', 'AI Lens', 'Mobile Height',
       'Processor in Phone', 'Price of Phone'],
      dtype='object')

### Extract MP from Both the columns of camera as it will create problem in model training

In [69]:
# Make function to extract integer from mixed value
import re
def int_extracter(x):
    return re.findall('\d+',x)

In [70]:
int_extracter('50MP')

['50']